<div class="container">
  <h1 class="text-center site-header">Welcome to MyStance</h1>
  <h2 class="text-center site-subheader">The world's opinions in three boxes.</h2>

  <div class="container">
    <div class="topic-label col-md-3">TOPIC:</div>
    <div class="topic-container col-md-9">{{main.data.question}}</div>
  </div>

  <h3></h3>
  <div class="row">
    <div class="col-md-5 side">
      <h4 class="no">NO</h4>
      <div class="reasons-container" id="no-reasons">
        <div class="row reason" ng-repeat="reason in main.data.no">
          <div class="reason-name col-md-9">{{reason.text}}</div>
          <div class="count col-md-3" ng-click="main.addVote(reason, main.user)">{{reason.count}}</div>
        </div>
      </div>
      <div class="row reason">
        <form name="add-reason" ng-submit="main.addReason('no', main.user)">
          <input id="no-input" type="text" ng-model="main.no" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
          <button class="reason-custom-button col-md-3 no-button">Add</button>
        </form>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-5 side">
      <h4 class="yes">YES</h4>
      <div class="reasons-container" id="yes-reasons">
        <div class="row reason" ng-repeat="reason in main.data.yes">
          <div class="reason-name col-md-9">{{reason.text}}</div>
          <div class="count col-md-3" ng-click="main.addVote(reason)">{{reason.count}}</div>
        </div>
      </div>
      <div class="row reason">
        <form name="add-reason" ng-submit="main.addReason('yes', main.user)">
          <input id="yes-input" ng-model="main.yes" type="text" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
          <button class="reason-custom-button col-md-3 yes-button">Add</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 side">
      <h4 class="maybe">MAYBE</h4>
      <div class="reasons-container" id="maybe-reasons">
        <div class="row reason" ng-repeat="reason in main.data.maybe">
          <div class="reason-name col-md-9">{{reason.text}}</div>
          <div class="count col-md-3" ng-click="main.addVote(reason)">{{reason.count}}</div>
        </div>
      </div>
      <div class="row reason">
        <form name="add-reason" ng-submit="main.addReason('maybe', main.user)">
          <input id="maybe-input" type="text" ng-model="main.maybe" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
          <button class="reason-custom-button col-md-3 maybe-button">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
