<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<!-- <div class="red"></div>
<div class="white"></div>
<div class="blue"></div> -->
<div class="container-fluid masthead">
  <h1 class="text-center site-header">MyStance</h1>
  <h2 class="text-center site-subheader">The world's opinions in three boxes.</h2>
</div>

<div class="container">
  <div class="topic">
    <div class="topic-label center-block">TOPIC:</div>
    <div class="text-center topic-container">{{main.data.question}}</div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="side">
        <h4 class="side-header no">NO</h4>
        <div class="reasons-container" id="no-reasons">
          <div class="row reason" ng-repeat="reason in main.data.no">
            <div class="reason-name col-md-9">{{reason.text}}</div>
            <div class="count col-md-3" ng-click="main.addVote(reason, main.user)">{{reason.count}}</div>
          </div>
        </div>
        <div class="reason">
          <form name="add-reason" ng-submit="main.addReason('no', main.user)">
            <input id="no-input" type="text" ng-model="main.no" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
            <button class="reason-custom-button col-md-3 no-button">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 side">
      <h4 class="side-header yes">YES</h4>
      <div class="reasons-container" id="yes-reasons">
        <div class="row reason" ng-repeat="reason in main.data.yes">
          <div class="reason-name col-md-9">{{reason.text}}</div>
          <div class="count col-md-3" ng-click="main.addVote(reason)">{{reason.count}}</div>
        </div>
      </div>
      <div class="reason">
        <form name="add-reason" ng-submit="main.addReason('yes', main.user)">
          <input id="yes-input" ng-model="main.yes" type="text" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
          <button class="reason-custom-button col-md-3 yes-button">Add</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6 side second-row">
      <h4 class="side-header maybe">MAYBE</h4>
      <div class="reasons-container" id="maybe-reasons">
        <div class="row reason" ng-repeat="reason in main.data.maybe">
          <div class="reason-name col-md-9">{{reason.text}}</div>
          <div class="count col-md-3" ng-click="main.addVote(reason)">{{reason.count}}</div>
        </div>
      </div>
      <div class="reason">
        <form name="add-reason" ng-submit="main.addReason('maybe', main.user)">
          <input id="maybe-input" type="text" ng-model="main.maybe" class="reason-name reason-custom col-md-9" placeholder="What's your reason?" />
          <button class="reason-custom-button col-md-3 maybe-button">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
