/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

// DEFAULT STUFF
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// GENERAL
body {
    font-family: "Roboto Slab", sans-serif;
}

.masthead {
    color: white;
    background-color: #a7c0cd;
    padding-bottom: 25px;
}

.site-header {
    font-size: 50pt;
    padding-top: 25px;
    padding-bottom: 0px;
}

.site-subheader {
    font-size: 25px;
    margin-top: 0px;
}

.topic {
    padding-top: 15px;
    padding-bottom: 15px;
    // text-align: center;
}

.topic-label {
    background-color: black;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.topic-container {
    font-size: 30pt;
    text-align: center;
    background-color: white;
}

.side {
    background-color: whitesmoke;
    margin-top: 15px;
    padding: 0px;
    max-height: 260px;
    border-radius: 5px;
}

.side > h4 {
    text-align: center;
    color: white;
    margin: 0px;
    padding: 10px;
    font-size: 30px;
}

.side-header {
    border-radius: 5px 5px 0px 0px;
}

.no {
    background-color: teal;
}

.yes {
    background-color: #5cd65c;
}

.second-row {
    margin-top: 40px;
}

.maybe {
    background-color: darkgray;
}

.reasons-container {
    height: 200px;
    overflow-y: scroll;
}

.reason {
    margin: 0px;
    font-size: 15pt;
    color: white;
    font-size: 15pt;
}

.reason-name {
    background-color: silver;
    padding: 10px;
    color: white;
    background-color: silver;
}

.count {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}

.reason-custom {
    background-color: white;
    color: black;
}

.reason-custom-button {
    padding: 10px;
    border: none;
    margin: 0px;
}

.no-button {
    background-color: teal;
}

.yes-button {
    background-color: #5cd65c;
}

.maybe-button {
    background-color: darkgray;
}

// .red {
//     background-color: red;
//     min-height: 100%;
//     min-width: 10px;
//     position: absolute;
// }
//
// .white {
//     background-color: white;
//     min-height: 100%;
//     min-width: 10px;
//     position: absolute;
//     margin-left: 10px;
// }
//
// .blue {
//     background-color: blue;
//     min-height: 100%;
//     min-width: 10px;
//     position: absolute;
//     margin-left: 20px;
// }

// CUSTOM SCROLLBAR
// ::-webkit-scrollbar {
//     width: 5px;
//     padding-left: 100px;
// }
// ::-webkit-scrollbar-button {
//     display: none;
// }
// ::-webkit-scrollbar-track {
//     background-color: transparent;
// }
// ::-webkit-scrollbar-track-piece {}
// ::-webkit-scrollbar-thumb {
//     border-radius: 2px;
//     background-color: white;
@mixin scrollbars() {
    ::-webkit-scrollbar {
        width:  .5em;
        height: .5em;
    }

    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
        border: 1px solid white;
    }

    #no-reasons::-webkit-scrollbar-track {
        background: teal;
    }

    // For Internet Explorer
    #no-reasons {
      scrollbar-face-color: teal;
      scrollbar-track-color: teal;
    }

      #yes-reasons::-webkit-scrollbar-track {
          background: #5cd65c;
      }

      // For Internet Explorer
      #yes-reasons {
        scrollbar-face-color: #5cd65c;
        scrollbar-track-color: #5cd65c;
      }

      #maybe-reasons::-webkit-scrollbar-track {
          background: darkgray;
      }

      // For Internet Explorer
      #maybe-reasons {
        scrollbar-face-color: darkgray;
        scrollbar-track-color: darkgray;
      }
}

@include scrollbars();

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
